AWS_REGION=us-east-1
ECR_REPO=
IMAGE_TAG=latest
AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=us-east-1
LITELLM_MASTER_KEY=bh-hiddenlayer-demo
